<html>

<head lang="en">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Self Taught - Forgot Password</title>
	<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
	<link href="/styles/signin.css" rel="stylesheet">
	<link href="./styles/gradCSS.css" rel="stylesheet">
</head>

<body class="text-center">
	<main class="form-signin">
		<a href="/">Home</a>
		<form action="/acc/forgot" method="POST">
			<h1 class="h3 mb-3 fw-normal">Self-Taught Forgotten Password</h1>
			<div>
				<% var message; %>
				<%if (message) { %>
				<h3>
					<%= message %>
				</h3>
				<% } %>
			</div>
			<label for="inputEmail" class="visually-hidden">Email Address</label>
			<input type="email" id="inputEmail" class="form-control" placeholder="Email Address" name="email" required>
			<br>
            <br>
			<button class="w-100 btn btn-lg btn-primary" type="submit">Forgot Password</button>
		</form>
	</main>

</body>

</html>